<% provide(:title, '全部房间') %>
<h1>All rooms</h1>

<ul class="rooms">
          <% @rooms.each do |room| %>
  <li>
    <%= link_to image_tag(room.first_screen[0][0], alt: "Rails"), room_path(room) %>
    <%#=image_tag  room.first_screen[0][0]  %>
     <%= link_to truncate(room.title, :length => 18), room_path(room) %>
      <% end %>

</ul>
<%= will_paginate %>